h1{
    color:gold;
}
p{
    color:yellow;
    font-size: 12px;
    background-color:blue;
    width: 35%;
    height: 40%;
}

ul{
 font-size: 30px;

 
    background-color: royalblue;
    font-size: 12px;
    color:red;
}